@import url("https://fonts.googleapis.com/css2?family=Open+Sans&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Benne&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Kaisei+Tokumin&display=swap');

html,
body {
  padding: 0;
  margin: 0;
  font-family: "Open Sans", sans-serif;
}


.align{
  align-items: center;
  justify-content: center;
}

* {
  box-sizing: border-box;
}

content {
  max-width: 960px;
}


h1{
  font-size: 2rem;
  font-family: 'Vollkorn', serif;
  color: #333;
}

h2 {
  font-family: 'Open Sans', sans-serif;
  font-size: 1rem;
}

.link{
  color: #111;
  text-decoration: wavy;
  padding: 7.5px;
}
.link:hover{
  color: teal;
}
