@import url('https://fonts.googleapis.com/css2?family=Inter&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Vollkorn&display=swap');

.container {
  min-height: 10vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  }


.text{
  color: #787A91;
  font-size: 1rem;
  padding-left: 10px;
  padding-right: 10px;
  font-family: 'Inter', sans-serif;
  text-align: center
}
.align{
  max-width: 40rem;
  align-items: center;
  justify-content: center;
  
}
.btn{
  display: block;
  width: 150px;
  padding: 8px 0;
  margin: 20px auto;
  background: #4979ff;
  border-radius: 4px;
  color: #fff;
  text-align: center;
}
.names{
  color: #333;
}